/* Styles généraux */
body {
    background-color: rgb(235, 226, 226);
    color: silver;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Liens */
a {
    color: silver;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* En-tête */
header {
    background-color: #222;
    padding: 20px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    color: silver;
    margin: 0 15px;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #222;
    color: silver;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;  /* Position dans le flux normal du document */
}
.swiper {
    width: 100%;
    height: 400px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-inner img {
    max-height: 100px; /* Réduit la hauteur des images */
    width: 50%; /* Ajuste la largeur */
}


